body {
    background-color: #333;
}
[type=file],h1,h2{
color:white;
}
.cnav{
  padding-bottom: .5em;
}

.table tbody{
  background-color: #e6e6e6;
}
thead>tr>th{
 border-top: none !important;
}
.row>form{
  margin: 10px 0 20px 20px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #777;
}

.social .fa-facebook:hover {
    color: #4060A5;
}

.social .fa-twitter:hover {
    color: #00ABE3;
}

.social .fa-google-plus:hover {
    color: #e64522;
}

.social .fa-linkedin:hover {
    color: #0094BC;
}

.form-inline{
  margin-left: 16px;
}
.paypalbtn{
    line-height: 0px;
    padding-top:.4rem; 
    padding-bottom:.4rem;
}
